<h3>hello about!</h3>
<p>{{ aboutCtrl.message }}</p>

<ul>
    <li ng-repeat="data in aboutCtrl.fakeData">
        {{ data.name }}: {{ data.value }}
    </li>
</ul>

<a ui-sref="home" ui-sref-active="active">Go Home</a>